version: "3.9"

services:
  db:
    image: postgres:16
    container_name: friedcarborator_db
    restart: always
    environment:
      POSTGRES_DB: friedcarboratorDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root #test password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  web:
    build: ./backend
    container_name: friedcarborator_backend
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - ./backend/.env

volumes:
  postgres_data:

  